@import "../helpers/mixin";
@import "../helpers/variables";

.about_us{
    padding: 310px 0px 235px 0px;
    .container{
        .about_usBox{
            @include parametrs(flex,row,center,flex-start,wrap);
            @media screen  and (max-width:1000px){
                gap: 50px 0px;
            }
            .about_us-text{
                max-width: 321px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                margin-right: 88px;
                padding-top: 50px;
                @media screen  and (max-width:1000px){
                    text-align: center;
                    margin-right: 0px;
                    margin-top: -200px;
                }
                h3{
                    @include whiteText(72px,700,110%,-1.44px,$Noe);
                    @include bigWhiteText;
                }
                .about_us-button{
                    margin: 0 auto;
                    @media screen  and (max-width:1000px){
                        text-align: center;
                    }
                    display: flex;
                    button{
                        @include button;
                        @include whiteText(13px,400,150%,2.1px,$Larr);
                        @media screen and (max-width:454px) {
                            font-size: 10px;
                            padding: 17px 47px;
                        }
                        @media screen and (max-width:370px) {
                            font-size: 8px;
                            padding: 14px 39px;
                        }
                    }
                    button:hover{
                        box-shadow: $Shadow;
                    }
                    .about_us-btnLine{
                        position: relative;
                        right: 15px;
                        top: 31px;
                        width: 30px;
                        height: 2px;
                        border-radius: 16px;
                        background: #FFF;
                        @media screen and (max-width:454px) {
                            top: 22px;
                        }
                        @media screen and (max-width:370px) {
                            top: 18px;
                        }
                    }
                }
                div{
                    @media screen  and (max-width:1000px){
                        text-align: center;
                    }
                    h5{
                        @include whiteText(18px,700,150%,-0.36px,$Larr);
                        @include littleWhiteText;
                    }
                    p{
                        padding: 6px 0px;
                        margin: 15px 0px;
                        @include whiteText(18px,300,150%,-0.36px,$Larr);
                        @include littleWhiteText;
                        opacity: 0.5;
                    }
                }
            }
            .about_us-Right{
                @include parametrs(flex,row,center,center,wrap);
                .about_us-photos{
                    margin-top: 15px;
                    @include parametrs(flex,row,center,normal,wrap);
                    max-width: 790px;
                    @media screen  and (max-width:1000px){
                        gap: 15px;
                    }
                    div{
                        position: relative;
                        max-height: 395px;
                        h5{
                            @include parametrs(flex,row,center,center,nowrap);
                            padding: 25px 30px;
                            @media screen  and (max-width:800px){
                                padding: 20px 25px;
                                font-size: 13px;
                            }
                            @media screen  and (max-width:450px){
                                padding: 15px 20px;
                                font-size: 12px;
                                left: -12px;
                            }
                            @media screen and (max-width:1023px){
                                transition: .5s;
                            }
                            transition: .4s;
                            background-color: white;
                            border-radius: 10px;
                            position: absolute;
                            bottom: 50px;
                            left: -25px;
                            @include whiteText(15px,700,150%,0.75px,$Larr);
                            color: #000;
                            opacity: 0;
                            span{
                                @include whiteText(15px,700,150%,0.75px,$Larr);
                                color: $blue;
                                @include fonts(800px,13px,450px,12px);
                            }
                        }
                    }
                    div:hover{
                        h5{
                            opacity: 1;
                            transition: .3s;
                            @media screen and (max-width:1023px){
                                transition: .5s;
                            }
                        }
                        img{
                            opacity: 1;
                            transition: .3s;
                            @media screen and (max-width:1023px){
                                transition: .5s;
                            }
                        }
                    }
                    img{
                        max-width: 100%;
                        opacity: .4;
                        transition: .4s;
                        @media screen and (max-width:1001px){
                            opacity: .5;
                        }
                        @media screen and (max-width:1023px){
                            transition: .5s;
                        }
                    }
                }
                .about_us-dots{
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    max-width: 70px;
                    gap: 10px;
                    @include singleMedia(1306px,none);
                }
            }
        }
    }
}