@import "../helpers/mixin";
@import "../helpers/variables";

footer{
    background: $black;
    .footer__container{
        @include parametrs(flex,column,normal,center,nowrap);
        position: relative;
        width: 90%;
        margin: 0 auto;
        .footer_line{
            z-index: 15;
            position: absolute;
            top: -40px;
            left: 50%;
            margin-left: 5px;
            width: 2px;
            height: 80px;
            border-radius: 13px;
            background: $Gradient;
            opacity: .8;
        }
        .footer_columns{
            @include parametrs(flex,row,center,flex-start,wrap);
            gap:75px 170px;
            padding-top: 137px;
            @media screen and (max-width:526px) {
                gap: 50px 100px;
                flex-direction: column;
                flex-wrap: nowrap;
            }
            .footer_columnsLeft{
                @include parametrs(flex,row,center,flex-start,wrap);
                gap: 120px;
                @media screen and (max-width:526px) {
                    gap: 50px 100px;
                    flex-direction: column;
                    flex-wrap: nowrap;
                }
                .footer-column{
                    display: flex;
                    flex-direction: column;
                    gap: $lGap;
                    img{
                        width: 56px;
                    }
                    h4{
                        @include whiteText(18px,700,100%,0px,$Larr);
                        @include littleWhiteText;
                        text-transform: uppercase;
                    }
                    p{
                        @include whiteText(15px,300,100%,0px,$Larr);
                        @include littleWhiteText;
                        cursor: pointer;
                    }
                    p:hover{
                        color: $blue;
                        transition: 0.3s;
                    }
                }
            }
            .footer_columnRight{
                display: flex;
                flex-direction: column;
                gap: $lGap;
                img{
                    width: 24px;
                }
                .divider{
                    width: 56px
                }
                h4{
                    @include whiteText(18px,700,100%,0px,$Larr);
                    @include littleWhiteText;
                    text-transform: uppercase;
                }
                div{
                    display: flex;
                    gap: $lGap;
                    img:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .footer_text{
            padding: 80px 0px 140px 0px;
            @include parametrs(flex,column,normal,center,nowrap);
            gap: 50px;
            h4{
                @include whiteText(15px,300,100%,0px,$Larr);
                @include littleWhiteText;
            }
            img{
                width: 60px;
            }
        }
    }
}