@import "../helpers/mixin";
@import "../helpers/variables";

header{
    .container{
        .head{
            @include parametrs(flex,row,space-between,normal,nowrap);
            padding-top: 90px;
            height: 160px;
            @media screen and (max-width:1420px) {
                width: 94%;
                margin: 0 auto;
            }
            .logo{
                width: 60px;
                height: 68px;
            }
            .menu{
                @include parametrs(flex,row,normal,center,nowrap);
                gap: 32px;
                @media screen and (max-width:1023px) {
                    display: none;
                }
                .header-search{
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    input{
                        height: 30px;
                        background: none;
                        color: white;
                        outline: none;
                        border: solid 1px white ;
                        padding: 4px;
                        border-radius: 6px;
                        font-size: 17px;
                        transform: scaleX(0);
                        transition: .3s;
                        transform-origin: right;
                    }
                    input::placeholder{
                        color: rgba(255, 255, 255, 0.562) ;
                    }
                    input.active{
                        transform: scaleX(1);
                        transition: .3s;
                    }
                }
                .header__button{
                    position: relative;
                    button{
                        @include button;
                        @include whiteText(16px,700,100%,1.6px,$Larr);
                    }
                    button:hover{
                        box-shadow: $Shadow;
                    }
                    .header_line{
                        @include headerLine;
                    }
                    .header_line2{
                        @include headerLine;
                        visibility: hidden;
                    }
                    .header_line.active{
                        transition: .1s;
                        transform: rotate(40deg);
                    }
                    .header_line2.active{
                        visibility: visible;
                        transition: .1s;
                        transform: rotate(-40deg);
                    }
                }
            }
            .burger-menu.active{
                display: flex;
            }
        }
        .burger-menu{
            @include parametrs(none,row,flex-end,center,nowrap);
            @media screen and (max-width:1023px) {
                display: flex;
            }
            .burger_lines{
                @include parametrs(none,row,normal,normal,nowrap);
                @media screen and (max-width:1023px) {
                    display: flex;
                }
                flex-direction: column;
                gap: 8px;
                position: absolute;
                right: 40px;
                top: 113px;
                .burger_line{
                    width: 40px;
                    height: 4px;
                    border-radius: 5px;
                    background-color: $blue;
                }
                .burger_line:nth-of-type(1){
                    transform: translateY(0%) rotate(0);
                    transition: all 0.4s;
                }
                .burger_line:nth-of-type(2){
                    display: flex;
                }
                .burger_line:nth-of-type(3){
                    transform:rotate(0);
                    transition: all 0.4s;
                }
            }
            .burger_lines.active{
                .burger_line:nth-of-type(1){
                    transform: translateY(300%) rotate(45deg);
                    transition: all 0.3s;
                }
                .burger_line:nth-of-type(2){
                    display: none;
                }
                .burger_line:nth-of-type(3){
                    transform:rotate(-45deg);
                    transition: all 0.3s;
                }
            }
            .burger_buttons{
                position: absolute;
                @include parametrs(none,column,center,normal,nowrap);
                width: 300px;
                top: 185px;
                transform: translateX(150%);
                gap: 10px;
                @media screen and (max-width:1023px) {
                    width: 270px;
                    gap: 0px;
                }
                a{
                    @include parametrs(flex,row,center,center,nowrap);
                    height: 40px;
                    text-decoration: none;
                    border-radius: 10px;
                    @include whiteText(14px,400,100%,1.6px,$Larr);
                    text-transform: uppercase;
                    background:#011627;
                    @media screen and (max-width:1023px) {
                        height: 60px;
                        border-radius: 0px;
                        border: 1px solid black;
                    }
                }
                a:hover{
                    transform: translateX(-10%);
                    transition: .3s;
                    @media screen and (max-width:1023px) {
                        transform: translateX(0%);
                    }
                }
            }
            .burger_buttons.active{
                display: flex;
                transform: translateX(0%);
            }
        }
        .burger-menu.active{
            display: flex;
        }
        .header__text{
            @include parametrs(flex,column,normal,center,nowrap);
            padding-top: 152px;
            h1{
                @include whiteText(120px,700,100%,-2.4px,$Noe);
                text-align: center;
                @media screen and (max-width:680px) {
                    font-size: 80px;
                }
                @media screen and (max-width:450px) {
                    font-size: 64px;
                }
            }
            h3{
                @include whiteText(18px,700,100%,1.8px,$Noe);
                padding-top: 44px;
                @media screen and (max-width:680px) {
                    font-size: 14px;
                    padding-top: 18px;
                }
                @media screen and (max-width:450px) {
                    font-size: 10px;
                    padding-top: 12px;
                }
            }
            p{
                max-width: 643px;
                padding-top: 50px;
                @include whiteText(14px,300,150%,1.6px,$Larr);
                text-align: center;
                @media screen and (max-width:680px) {
                    font-size: 12px;
                    line-height: 100%;
                    padding-top: 30px;
                }
                @media screen and (max-width:450px) {
                    font-size: 9px;
                    padding-top: 20px;
                }
            }
        }
        .header_scroll{
            padding-top: 192px;
            padding-bottom: 245px ;
            @include parametrs(flex,row,space-between,flex-end,nowrap);
            .scroll_text{
                display: flex;
                flex-direction: column;
                gap: 35px;
                .scroll_h3{
                    @include whiteText(18px,400,190%,0.75px,$Larr);
                    transform: rotate(-90deg);
                    margin-left: -28px;
                }
                .scrool_line{
                    margin-left: 5px;
                    width: 2px;
                    height: 80px;
                    border-radius: 13px;
                    background: linear-gradient(90deg, #09F4F4 0%, #00C9E0 100%);
                }
            }
            .icons_line{
                display: flex;
                flex-direction: column;
                gap: 20px;
                img{
                    cursor: pointer;
                }
            }
        }
    }
}