@import "../helpers/mixin";



header{
    .container{
        .head{
            display: flex;
            justify-content: space-between;
            padding-top: 90px;
            height: 160px;
            @media screen and (max-width:1420px) {
                width: 94%;
                margin: 0 auto;
            }
            .logo{
                width: 60px;
                height: 68px;
            }
            .menu{
                display: flex;
                gap: 32px;
                align-items: center;
                @media screen and (max-width:1023px) {
                    display: none;
                }
                .header__button{
                    position: relative;
                    button{
                        border-radius: 48px;
                        background: #00C9E0;
                        border: none;
                        padding: 21px 57px;
                        cursor: pointer;
                        @include whiteText(16px,700,100%,1.6px);
                        text-transform: uppercase;
                        font-family: Larsseit;
                        transition: .3s;
                    }
                    button:hover{
                        box-shadow: 0px 0px 40px 10px rgba(0, 201, 224, 0.20);
                    }
                    .header_line{
                        position: absolute;
                        right: -15px;
                        top: 48%;
                        width: 30px;
                        height: 2px;
                        border-radius: 16px;
                        background: #FFF;
                        transition: .3s;
                    }
                    .header_line2{
                        visibility: hidden;
                        position: absolute;
                        right: -15px;
                        top: 48%;
                        width: 30px;
                        height: 2px;
                        border-radius: 16px;
                        background: #FFF;
                        transition: .3s;
                    }
                    .header_line.active{
                        transition: .3s;
                        transform: rotate(40deg);
                    }
                    .header_line2.active{
                        visibility: visible;
                        transition: .3s;
                        transform: rotate(-40deg);
                    }
                }
            }
            .burger-menu.active{
                display: flex;
            }
        }
        .burger-menu{
            display: none;
            @media screen and (max-width:1023px) {
                display: flex;
            }
            align-items: center;
            justify-content: flex-end;
            transition-duration: .2s;
            .burger_lines{
                display: none;
                @media screen and (max-width:1023px) {
                    display: flex;
                }
                flex-direction: column;
                gap: 8px;
                position: absolute;
                right: 40px;
                top: 113px;
                .burger_line{
                    width: 40px;
                    height: 4px;
                    border-radius: 5px;
                    background-color: #00C9E0;
                }
                .burger_line:nth-of-type(1){
                    transform: translateY(0%) rotate(0);
                    transition: all 0.4s;
                }
                .burger_line:nth-of-type(2){
                    display: flex;
                }
                .burger_line:nth-of-type(3){
                    transform:rotate(0);
                    transition: all 0.4s;
                }
            }
            .burger_lines.active{
                .burger_line:nth-of-type(1){
                    transform: translateY(300%) rotate(45deg);
                    transition: all 0.3s;
                }
                .burger_line:nth-of-type(2){
                    display: none;
                }
                .burger_line:nth-of-type(3){
                    transform:rotate(-45deg);
                    transition: all 0.3s;
                }
            }
            .burger_buttons{
                position: absolute;
                display: none;
                flex-direction: column;
                justify-content: center;
                width: 300px;
                top: 185px;
                transform: translateX(150%);
                gap: 10px;
                transition: all 1s;
                @media screen and (max-width:1023px) {
                    width: 270px;
                    gap: 0px;
                }
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    text-decoration: none;
                    border-radius: 10px;
                    @include whiteText(14px,400,100%,1.6px);
                    text-transform: uppercase;
                    font-family: Larsseit;
                    background:#011627;
                    @media screen and (max-width:1023px) {
                        height: 60px;
                        border-radius: 0px;
                        border: 1px solid black;
                    }
                }
                a:hover{
                    transform: translateX(-10%);
                    transition: all .4s ;
                    @media screen and (max-width:1023px) {
                        transform: translateX(0%);
                    }
                }
            }
            .burger_buttons.active{
                display: flex;
                transform: translateX(0%);
                transition-duration: all .2s;
            }
        }
        .burger-menu.active{
            display: flex;
        }
        .header__text{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 152px;
            h1{
                @include whiteText(120px,700,100%,-2.4px);
                font-family: Noe Display;
                text-align: center;
                @media screen and (max-width:680px) {
                    font-size: 80px;
                }
                @media screen and (max-width:450px) {
                    font-size: 64px;
                }
            }
            h3{
                @include whiteText(18px,700,100%,1.8px);
                font-family: Larsseit;
                padding-top: 44px;
                @media screen and (max-width:680px) {
                    font-size: 14px;
                    padding-top: 18px;
                }
                @media screen and (max-width:450px) {
                    font-size: 10px;
                    padding-top: 12px;
                }
            }
            p{
                max-width: 643px;
                padding-top: 50px;
                @include whiteText(14px,300,150%,1.6px);
                font-family: Larsseit;
                text-align: center;
                @media screen and (max-width:680px) {
                    font-size: 12px;
                    line-height: 100%;
                    padding-top: 30px;
                }
                @media screen and (max-width:450px) {
                    font-size: 9px;
                    padding-top: 20px;
                }
            }
        }
        .header_scroll{
            padding-top: 192px;
            padding-bottom: 245px ;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .scroll_text{
                display: flex;
                flex-direction: column;
                gap: 35px;
                .scroll_h3{
                    @include whiteText(18px,400,190%,0.75px);
                    font-family: Larsseit;
                    transform: rotate(-90deg);
                    margin-left: -28px;
                }
                .scrool_line{
                    margin-left: 5px;
                    width: 2px;
                    height: 80px;
                    border-radius: 13px;
                    background: linear-gradient(90deg, #09F4F4 0%, #00C9E0 100%);
                }
            }
            .icons_line{
                display: flex;
                flex-direction: column;
                gap: 20px;
                img{
                    cursor: pointer;
                }
            }
        }
    }
}