@import "../helpers/mixin";
@import "../helpers/variables";

.trip{
    .container{
        .trip_header{
            max-width: 1200px;
            margin: 0 auto;
            padding-bottom: 83px;
            display: flex;
            align-items: center;
            gap: $nGap;
            @media  screen and (max-width:851px) {
                flex-direction: column;
            }
            h2{
                @include whiteText(72px,700,110%,-1.44px,$Noe);
                @include bigWhiteText;
            }
            img{
                position: relative;
                top: 8px;
            }
            p{
                position: relative;
                top: 8px;
                @include whiteText(16px,400,150%,-0.32px,$Larr);
                max-width: 300px;
                text-align: center;
                @include littleWhiteText;
            }
        }
        .trip_buttons{
            max-width: 1200px;
            margin: 0 auto;
            @include parametrs(flex,row,center,normal,wrap);
            padding-bottom: 150px;
            @include singleMedia(800px,none);
            .trip_button{
                @include parametrs(flex,column,space-between,normal,nowrap);
                gap: $nGap;
                height: 55px;
                margin-top: 20px;
                cursor: pointer;
                opacity: 1;
                h4{
                    @include whiteText(16px,400,110%,-0.32px,$Larr);
                    opacity: 0.5;
                    text-align: center;
                }
                .trip_button-line{
                    width: 300px;
                    height: 2px;
                    border-radius: 13px;
                    background: #fff;
                    opacity: .5;
                }
            }
            .trip_button:hover{
                h4{
                    @include whiteText(18px,700,110%,-0.36px,$Larr);
                    color: $blue;
                    opacity: 1;
                    transition: 0.2s;
                }
                .trip_button-line{
                    background-color: $blue;
                    opacity: 1;
                    transition: 0.2s;
                }
            }
            .trip_button.active{
                h4{
                    @include whiteText(18px,700,110%,-0.36px,$Larr);
                    color: $blue;
                    opacity: 1;
                }
                .trip_button-line{
                    background-color: $blue;
                    opacity: 1;
                }
            }
        }
        .trip_swipeLine{
            @include parametrs(none,row,center,center,nowrap);
            @include singleMedia(800px,flex);
            padding: 20px;
            gap: 8px;
            h5{
                @include whiteText(18px,400,190%,0.75px,$Larr);
            }
            div{
                margin-left: 5px;
                width: 80px;
                height: 2px;
                border-radius: 13px;
                background-color: $blue;
            }
        }
        .trip_slider{
            max-width: 1200px;
            margin: 0 auto;
            .swiper{
                max-width: 100%;
                z-index: 12;
                position: relative;
                @media screen and (max-width:1200px) {
                    max-width: 100%;
                }
                .trip_slide{
                    max-width: 1200px;
                    @include parametrs(flex,row,center,normal,wrap);
                    img{
                        border-radius: 10px;
                        background: #C4C4C4;
                        max-width: 100%;
                    }
                    .trip_slide-text{
                        margin: 0 auto;
                        max-width: 485px;
                        h3{
                            @include whiteText(65px,700,110%,-1.3px,$Noe);
                            @include bigWhiteText;
                            margin-top: 15px;
                            @include fonts(350px,40px,0,0)
                        }
                        h5{
                            padding-top: 35px;
                            @include whiteText(17px,400,150%,-0.34px,$Larr);
                            @include fonts(600px,13px,0,0)
                        }
                        p{
                            padding-top: 20px;
                            @include whiteText(17px,400,150%,-0.34px,$Larr);
                            color: #C4C4C4;
                            @include fonts(600px,13px,0,0)
                        }
                        .trip__button{
                            padding-top: 45px;
                            button{ 
                                @include button;
                                @include whiteText(16px,700,100%,1.6px,$Larr);
                                @include fonts(400px,13px,360px,10px);
                            }
                            button:hover{
                                box-shadow: $Shadow;
                            }
                            .trip_line{
                                position: relative;
                                right: -299px;
                                top: -31px;
                                width: 30px;
                                height: 2px;
                                border-radius: 16px;
                                background: #FFF;
                                @media screen and (max-width:400px) {
                                    right: -267px;
                                    top: -30px;
                                }
                                @media screen and (max-width:360px) {
                                    right: -235px;
                                    top: -27px;
                                }
                            }
                        }
                    }
                }
            }
            .trip_texts{
                position: relative;
                @include singleMedia(1000px,none);
                .trip_number{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    z-index: 12;
                    top: -370px;
                    left: -95px;
                    @include singleMedia(1400px,none);
                    img{
                        width: 172px;
                        height: 13px;
                    }
                    h4{
                        @include whiteText(24px,700,150%,3.6px,$Larr);
                        color: $blue;
                    }
                    p{
                        width: 210px;
                        @include whiteText(24px,700,150%,3.6px,$Larr);
                    }
                }
                .trip_dots{
                    position: absolute;
                    z-index: 10;
                    bottom: -57px;
                    left: -55px;
                }
            }
            .trip_socialIcons{
                z-index: 15;
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: $lGap;
                right: 25px;
                bottom: 12px;
                @include singleMedia(1000px,none);
                h5{
                    @include whiteText(15px,700,150%,2.25px,$Larr);
                }
                div{
                    display: flex;
                    gap: $lGap;
                    a{
                        z-index: 15;
                        cursor: pointer;
                    }
                }
                .socialIcons_line{
                    position: absolute;
                    bottom: -10px;
                }
            }
        }
    }
}