$Larr:Larsseit;
$Noe:Noe Display;
$Shadow:0px 0px 40px 10px rgba(0, 201, 224, 0.20);
$Gradient:linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
$blue:#41EAD4;
$black:#011627;
$nGap:33px;
$lGap:20px;